body {
 display: flex;
 margin-top: 200px;
}

article {
    display: flex;
    flex-flow: column;
    width: 600px;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.head {
    display: flex;
    flex-flow: row;
    padding: 10px;
   
}

.hopper {
    width: 65px;
    border-radius: 50px;

}

.person{
    display: block;
    float: right;
    margin-right: 350px;
    font-size: 75%;
    padding-left: 20px;
}

.main {
    margin-left: 10px;
    margin-top: 5px;
}

.like {
    display: flex;
    margin-right: 2px;
    
}

.like>p {
    padding: 0 40px;
}

.button {
    display: flex;
   
}

.button>i {
    padding: 0 70px;
    padding-bottom: 10px;
}

#grace, #iphone, .link {
    color: gray;
}


#iphone, .link {
    font-size: 14px;
}

p>b {
    font-size: 18px;
    color: white;
}